html {
	font-size: 10px;
	font-family: 'Roboto', sans-serif;
	background-color: blue;
}

body {
	width: 600px;
	margin: 0 auto;
	background-color: orange;
	padding:0 20px 20px 20px;
	border: 5px solid black;
}

h1 {
	font-size: 60px;
	text-align: center;
	margin: 0;
	padding: 20px 0;
	color: blue;
	text-shadow: 7px 8px 2px gray;
}

p, li {
	font-size: 16px;
	line-height: 2;
	letter-spacing: 1px;
}

img {
	display: block;
	margin: 0 auto;
	width: 90%;
}